<footer class="main-footer">
    <div class="container footer">
      <div class="footer--item-one">
        <div class="footer__item">
          <h6>بانواز</h6>
            <a href="#">خانه</a>
            <a href="#">فروشگاه</a>
            <a href="#">ورود به داشبورد</a>
        </div>
        <div class="footer__item">
          <h6>فروشگاه</h6>
            <a href="#">دستگاه مرکزی</a>
            <a href="#">سنسورهای داخلی</a>
            <a href="#">سنسورهای خارجی</a>
        </div>
      </div>
      <div class="footer--item-two">
        <div class="footer__item">
          <h6>بانواز</h6>
            <a href="#">درباره بانواز</a>
            <a href="#">وبلاگ</a>
            <a href="#">موقعیت شغلی</a>
            <a href="#">تماس با ما</a>
        </div>
          <div class="footer__enemad">
          <h6>دانلود اپلیکیشن</h6>
          <img src="/assets/img/apple.png" alt="">
          <img src="/assets/img/apple.png" alt="">
        </div>
      </div>
    </div>
  </footer>
      <div class="social">
        <img src="/assets/img/facebook.png" alt="">
        <img src="/assets/img/whatsapp.png" alt="">
        <img src="/assets/img/youtube.png" alt="">
        <img src="/assets/img/instagram-logo.png" alt="">
        <p>تمامی حقوق متعلق به بانواز می باشد.</p>
      </div>