<header class="main-header container">
    <nav class="nav">
      <span class="logo">
        <p>ب</p>
        <img src="/assets/img/logo.svg" alt="" />
      </span>
      <div class="btn-mobile">
        <button class="btn--head-d">فروشگاه بانواز</button>
      </div>
      <div class="nav__toggler">
        <div class="bar bar-one"></div>
        <div class="bar bar-two"></div>
        <div class="bar bar-three"></div>
      </div>
      <ul class="nav__list">
        <li class="nav__item"><a href="#">خانه</a></li>
        <li class="nav__item"><a href="#">فروشگاه</a></li>
        <li class="nav__item"><a href="#">درباره ما</a></li>
      </ul>
      <div class="head-btn">
        <button class="btn btn--head-r">ورود به داشبورد</button>
        <button class="btn btn--head-l">دانلود اپلیکیشن</button>
      </div>
    </nav>
  </header>
