<section class="section__one container">
  <div class="sec__one-desc">
    <h1 class="sec__one-desc-h1">خیالت از خونه راحت!</h1>
    <p class="sec__one-desc-p">
      بانواز واژه ای کردی به معنای باخبر ساختن با صدای بلند </br>است.
   درست
      مثل بانواز!
    </p>
    <p class="sec__one-desc-p">
      با سنسورهای بانواز از هیچ اتفاقی بی خبر نیستی!
    </p>
    <p class="sec__one-desc-p">چه خونه باشی چه نه.</p>
    <button class="btn btn--head-d-d">فروشگاه بانواز</button>
  </div>
  <div class="sec__one-img">
    <img class="sec__one-homeimg" src="/assets/img/mainHome.svg" alt="" />
    <img
      class="sec__one-phoneimg"
      src="/assets/img/iPhone 12 Mini.png"
      alt=""
    />
  </div>
</section>
