<section class="tab-picc container">
    <div class="pic-one">
        <a class="tab-pic">
            <img
              src="/assets/img/cat.jpg"
              alt="#"
            />
            <p>سنسورهایی که برای حیوان خانگی شما نصب میشن میتونن با هوش مصنویی گرسنه بودن اون رو تشخیص بدن!</p>
          </a>
          <a class="tab-pic">
            <img
              src="/assets/img/gol.jpg"
              alt="#"
            />
            <p>با محاسبه حرارات اطراف خاک گیاهان میشه فهمید کی دوباره به گیاهان آب بدی!</p>
          </a>
    </div>
    <div class="pic-two">
        <a class="tab-pic">
            <img
              src="/assets/img/door.jpg"
              alt="#"
            />
            <p>باز و بسته شدن درب ها و پنجره ها ،تشخیص حضور انسان و کلی قابلیت دیگه در سنسورهای بانواز.</p>
          </a>
          <a class="tab-pic">
            <img
              src="/assets/img/miz-kar.jpeg"
              alt="#"
            />
            <p>میتونی مدت زمان روشن بودن دستگاه های الکتریکی رو کنترل کنی. یا حتی برای روشن بودن اونها از بانواز کمک بگیری.</p>
          </a>
    </div>
    </section>