<section class="png-bar container">
  <div class="services__tabs container">
    <a class="tab-active">
      <img src="/assets/img/door.png" alt="tapsi-classic-icon" />
      <p>درب و پنجره</p>
    </a>
    <a class="tab-active">
      <img src="/assets/img/plant.png" alt="tapsi-classic-icon" />
      <p>گل و گیاه</p>
    </a>
    <a class="tab-active">
      <img src="/assets/img/energy.png" alt="tapsi-classic-icon" />
      <p>وسایل برقی</p>
    </a>
  </div>
  <div class="services__tabs container">
    <a class="tab-active">
      <img src="/assets/img/ceiling-lamp.png" alt="tapsi-classic-icon" />
      <p>روشنایی</p>
    </a>
    <a class="tab-active">
      <img src="/assets/img/fireplace.png" alt="tapsi-classic-icon" />
      <p>گرمایشی</p>
    </a>
    <a class="tab-active">
      <img src="/assets/img/bone.png" alt="tapsi-classic-icon" />
      <p>حیوانات</p>
    </a>
  </div>
</section>
